<div class="page-stracture" data-aos="fade-up">
    <p class="title">Services</p>
    <!-- <p class="secondary-title">Caring for your health, inside and out</p> -->
    <p class="desc">As an internal medicine and primary care physician, Dr. Julie Bikhman specializes in the comprehensive, long-term care
    of adults. Her practice focuses on the prevention, diagnosis, and treatment of a wide range of acute and chronic
    conditions—while also emphasizing overall wellness and lifestyle management.</p>

    <div class="service-blocks-section">
        <p class="title">Services include:</p>
        <service-blocks></service-blocks>
    </div>
</div>