<div class="footer" id="contact">
    <div class="connect-data-section">
        <p class="name">Midtown East Medical P.C.</p>

        <div class="begin-section" *ngIf="navType === 'phone'" >
            <p class="title">Let's begin our journey</p>
            <app-button (onClick)="redirectToAppoint()" class="btn" [button]="{
                        type: 'secondary',
                        text: 'Book an Appointment'
                        ,size: 'small'}">
                    </app-button>
            </div>

        <div class="ways-to-connect-title" *ngFor="let item of connectData">
            <img src="assets/svg-icons/{{item.iconName}}.svg" [alt]="item.iconName">
            <p>{{item.data}}</p>
        </div>

        <p class="address">120 East 56 Street , suite 530 , New York, NY 10022</p>
        <p class="fax">Medical Records Clinical Fax: 888.355.6397</p>
    </div>
    <div class="begin-section" *ngIf="navType === 'computer'">
        <p class="title">Let's begin our journey</p>
        <app-button
        (onClick)="redirectToAppoint()" 
        class="btn" [button]="{
            type: 'secondary',
            text: 'Book an Appointment'
        }"></app-button>
    </div>

</div>