<div class="page-stracture" data-aos="fade-up">

    <p class="title">About Me</p>
    <p class="secondary-title">Get to know me better</p>
    
    <p class="desc-part-1">After earning my Doctor of Osteopathic Medicine Degree from the New York College of Osteopathic Medicine in 2002, I
    completed my internal medicine residency at Lenox Hill Hospital in 2005. Over the past two decades, my journey in
    medicine has been both profound and enlightening. Early in my career, I recognized that effective treatment extends
    beyond addressing symptoms—it involves understanding the whole person. This realization led me to explore integrative
    medicine. I attended conferences and participated in workshops to deepen my knowledge. Gradually, I began incorporating
    holistic approaches into my practice, especially when managing chronic conditions.</p>

    <p class="desc-part-2">My training as a Doctor of Osteopathic Medicine (DO) has been instrumental in this evolution. The osteopathic philosophy
    emphasizes the interconnectedness of the body's systems and the importance of treating the patient as a whole. This
    perspective has enriched my approach, allowing me to consider not just the physical aspects of illness, but also the
    emotional, lifestyle, and environmental factors that influence health. In my experience, every patient is unique. By
    taking the time to understand each individual's story, values, and circumstances, I believe we can chart a more
    successful path to healing.</p>

    <p class="quote">“Listen to your patient; they are telling you the diagnosis.”</p>
    <p class="quote-name">— Sir William Osler</p>

    <app-button class="btn" [button]="{
        type: 'primary',
        text: 'Book an Appointment'
    }"></app-button>

    <div class="photos">
        <img src="assets/photos/oil.png" alt="about-me-photo-1">
        <img src="assets/photos/oil-flower.png" alt="about-me-photo-2">
        <img src="assets/photos/sakura.png" alt="about-me-photo-3">
    </div>

</div>