@import '../../styles.scss';

.block-section{

    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    user-select: none;

    .block{
        width: 312px;
        height: 162px;
        border-radius: 10px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 27px 78px;
        margin: 10px;
    }

    .title{
        font-size: 18px;
        color: $secondaryColor;
        max-width: 130px;
        text-align: center;
        margin-top: 13px;
    }
}

@media (max-width: 768px) {
    .block-section{
        height: 400px !important;
        // flex-direction: column;
        overflow-x: scroll;

        .block{
            width: 254px;
            height: 162px;
        }
    }
}