@import '../../styles.scss';

.block-section{

    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    user-select: none;

    .block{
        width: 312px;
        height: 162px;
        border-radius: 10px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 27px 78px;
        margin: 10px;
        cursor: pointer;
        transition: 0.3s;
    }

    .block:active{
        transform: scale(0.98);
    }

    .title{
        font-size: 18px;
        color: $secondaryColor;
        max-width: 130px;
        text-align: center;
        margin-top: 13px;
    }
}

@media (max-width: 768px) {
    .block-section {
        display: grid !important;
        grid-auto-flow: column;
        grid-template-rows: repeat(2, auto);
        gap: 12px;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        padding: 10px;
        height: 500px !important;
        box-sizing: border-box;
        width: 90vw;
        padding-left: 350px;

        .block {
            scroll-snap-align: start;
            width: 254px;
            height: 162px;
            margin: 0; // prevent gaps from margin in grid layout
        }
    }
}