<div class="page-stracture" data-aos="fade-up">

    <p class="title">Policies</p>
    <p class="secondary-title">Payment Policies</p>
    <p class="desc">Upon arrival for your appointment, please provide the receptionist with your current insurance card. A copy will be made
    and put in your file. We are participating with most of the insurance companies. For your convenience, we offer the
    following payment options:
    Payment in full at time of appointment, if no insurance coverage is available.
    We do accept credit cards. Payment of the portion your insurance will not cover.
    (co-payment & deductible are collected at the time of service)
    Payment of balance in full on receipt of your statement.</p>

    <p class="secondary-title">Cancelation Policies</p>
    <p class="desc">24 HOUR CANCELLATION POLICY
    Please note that we must charge when there is a late cancellation or “no show’. There can be no exception. We understand
    that people get stuck in meetings, forget appointments, have family emergencies, etc. In order to stay in managed care
    plans, employ staff to provide good service, and pay the rent, we must cover our overhead. We will try to accommodate
    you if you are late. We need enough office hour time to fill your spot, 24 hours! Leaving a message after hours with the
    service does not allow us to fill an open appointment before noon.
    A 30-minute physical will be billed $150, and a 15 minute office visit will be billed $50. This is not re-imbursable by
    insurance. Once a spot is reserved, IT IS YOUR SPOT! We do not double book. We attempt to run close to schedule (though
    admittedly we often get behind when there are emergencies, patients arriving late, etc.)
    Sincerely, Midtown East Medical PC.</p>

</div>