<div class="page-stracture" data-aos="fade-up">
    <img class="img" src="assets/svg-icons/{{currentService?.id}}.svg" alt="">
    <p class="title">{{currentService?.title}}</p>
    <p class="desc">{{currentService?.content}}</p>
    <a *ngIf="currentService?.link" href="{{currentService?.link}}">{{currentService?.link}}</a>

    <div class="contact-data">
        <h3>Contact Information</h3>
        <ul>
          <li><strong>Address:</strong> 120 East 56 Street, Suite 530, New York, NY 10022</li>
          <li><strong>Call:</strong> 646-483-6237</li>
          <li><strong>Fax:</strong> 646-599-4430</li>
          <li><strong>Email:</strong> <a href="mailto:info@midtowneastmedical.com">info@midtowneastmedical.com</a></li>
        </ul>
      </div>
</div>