<div class="nav-bar">

    <div class="title-logo">
        <p>Dr. Julie Bikhman, D.O.</p>
    </div>

    <ng-container *ngIf="navType === 'computer'; else phone">
        
        <div class="nav-elements">
            <div class="nav-element {{routeItem.isActive? 'active':''}}" *ngFor="let routeItem of routeItems" (click)="navigateTo(routeItem.path)">
                <p class="title">{{routeItem.title}}</p>
            </div>
        </div>
        
        <div class="appoiment-section">
            <app-button (onClick)="redirectToAppoint()"
            [button]="{
            type: 'secondary',
            text: 'Book an Appointment'
            }"></app-button>
        </div>

    </ng-container>

    <ng-template #phone>
        <div class="hamburger-element" (click)="toggleMenu()">
          <img src="assets/svg-icons/hamburger.svg" alt="hamburger" />
        </div>
      
        <div
          class="hamburger-menu"
          *ngIf="isMenuOpen"
          @slideMenu
        >
          <div
            class="nav-element-phone {{ routeItem.isActive ? 'active' : '' }}"
            *ngFor="let routeItem of routeItems"
            (click)="navigateTo(routeItem.path)"
          >
            <img
              src="assets/svg-icons/{{ routeItem.iconName }}.svg"
              [alt]="routeItem.iconName"
            />
            <p class="title">{{ routeItem.title }}</p>
          </div>
        </div>
      </ng-template>
    
    
</div>