@import '../../styles.scss';

.page-stracture {
    height: 1000px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .title {
        font-size: 45px;
        margin-bottom: 10px;
    }
}