.review-modal {
    display: block;
    position: fixed;
    inset: 0;
    z-index: 1000;

    .modal-backdrop {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .modal-content {
        position: absolute;
        // margin: 0 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 800px;
        width: 80%;
        padding: 30px;
        border-radius: 16px;
        background: white;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
        text-align: start;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img {
            width: 50px;
            /* height: 80px; */
            object-fit: cover;
            margin-bottom: 16px;
            position: absolute;
            top: -3%;
            left: -2%;
            display: none;
        }

        p {
            color: #003366;
            margin-bottom: 12px;
            font-size: 1rem;

            &.date {
                color: #999;
                font-size: 0.9rem;
            }
        }

        .name{
            text-align: end;
        }
    }
}

@media (max-width: 768px) {
    .modal-content{
        max-height: 550px !important;
        p{
            max-height: 500px;
            overflow-y: auto;
        }
        img{
            display: block !important;
        }
    }
}