<div class="page-stracture">

    <div class="banner" data-aos="fade-up">

        <div class="titles">
            <p class="first-title">True wellness begins with understanding and compassion</p>
            <p class="secondary-title">Primary care by</p>
            <p class="name-title">Dr. Julie Bikhman, D.O.</p>
        </div>


        <app-button
        (onClick)="redirectToAppoint()" 
        class="btn" [button]="{ 
            type: 'primary', 
            text: 'Book an Appointment',
            size: 'small'
        }"></app-button>
    </div>

    <div class="about-me" data-aos="fade-up">
        <div class="read-more-section">
            <p class="title">About Me</p>
            <p class="quote">“The good physician treats the disease; the great
            physician treats the patient who has the disease.”</p>
            <p class="quote-name">- Sir William Osler</p>

            <p class="desc">With over 20 years of experience, Dr. Julie Bikhman combines traditional internal medicine with a holistic, whole-person
            approach. Her care goes beyond symptoms, looking at lifestyle, emotions, and environment to help each patient heal and
            thrive.</p>

            <app-button
            class="btn" 
            (onClick)="navigateTo($event)"
            [button]="{ 
                type: 'primary', 
                text: 'Read more about Julie',
                link: '/about',
                size: 'small'
            }"></app-button>

        </div>

        <div class="photo-section" >
            <img src="assets/photos/Yulia-pic.jpg" alt="drugs-photo">
        </div>
    </div>

    <div class="my-services" data-aos="fade-up">
        <p class="title">Services</p>
        <service-blocks></service-blocks>

        <app-button class="btn" 
        (onClick)="navigateTo($event)"
        [button]="{ 
            type: 'primary', 
            text: 'Read more',
            link: '/services'
        }"></app-button>
    </div>
    <div class="reviews"  data-aos="fade-up">
        
        <p class="title">Reviews</p>
        
        <div class="review-list">
            <review-block *ngFor="let review of reviews" [review]="review" (onClick)="openReviewPopup($event)"></review-block>
        </div>

        
        
    </div>

</div>


<review-popup [review]="currReview" [isOpen]="isReviewOpen" (closed)="isReviewOpen=$event"></review-popup>