@import '../../styles.scss';

.page-stracture{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;


    .banner{
        width: 100%;
        height: fit-content;
        min-height: 800px;
        background-image: url('../../assets/photos/blooming-almond-tree-fade.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        user-select: none;

        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;


        .titles{
            margin-bottom: 50px;
            margin-left: 160px;
        }

        .first-title{
            font-size: 57px;
            max-width: 600px;
            margin-bottom: 14px;
            p{
                font-family: 'Poppins-Bold';
            }
            
        }

        .secondary-title, .name-title{
            font-size: 39px;
            max-width: 600px;
        }

        .btn{
            margin-left: 160px;
        }

        p{
            color: $secondaryColor;
        }
    }

    .about-me{
        height: fit-content;
        min-height: 700px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .read-more-section{
            max-width: 600px;
            margin-left: 160px;
            transition: 0.4s;
        }

        .title{
            font-size: 40px;
        }
        .quote{
            font-size: 20px;
            font-family: Poppins-Bold;
        }
        .quote-name, .desc{
            font-size: 18px;
        }
        .desc{
            margin-top: 22px; 
            margin-bottom: 40px;
        }

        p{
            color: $secondaryColor;
        }

        .photo-section{
            margin-right: 160px;
            margin-left: 20px;
            transition: 0.4s;
            border-radius: 10px;
            border: 2px solid $secondaryColor;
            width: 790px;
            height: 364px;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 9px;
            }
        }
    }

    .about-me:hover{

        .read-more-section{
            transition: 0.4s;
            margin-left: 180px;
        }
        .photo-section{
            margin-right: 180px;
            transition: 0.4s;
        }

    }

    .my-services{

        height: fit-content;
        min-height: 650px;
        width: 100%;
        background-color: $tertiaryColor;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 160px 0;
        .title{
            color: $secondaryColor;
            font-size: 45px;
            user-select: none;
            font-family: Poppins-Bold;
            margin-bottom: 40px;
        }

        .btn{
            margin-top: 40px;
        }
    }

    .reviews{
        width: 98%;
        height: fit-content;
        min-height: 640px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .title{
            font-size: 45px;
            color: $secondaryColor;
            user-select: none;
            font-family: Poppins-Bold;
            margin-bottom: 50px;
            margin-left: 160px;
            align-self: baseline
        }

        .review-list{
            width: 100%;
            display: flex;
            overflow-x: auto;

            justify-content: flex-start;
            align-items: flex-start;

            gap: 1rem;
            scroll-snap-type: x mandatory; 
        }

    }
}

@media (max-width: 768px) {
    .banner {
        align-items: center; 
        text-align: center;
        align-items: center !important;
        justify-content: flex-start !important;
        min-height: 744px !important;

        .btn{
            margin: 0 !important;
        }

        .titles {
            margin-left: 0;
            margin-bottom: 30px;
            margin-left: 0 !important;
            max-width: 318px !important;
            margin-top: 130px;
            
        }
        .first-title, .name-title, .secondary-title {
            max-width: none !important;
        }

        .first-title{
            font-size: 30px !important;
        }

        .btn {
            margin-left: 0;
        }

        .secondary-title, .name-title {
            font-size: 20px !important;
        }
    }

    .about-me{
        height: 700px !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;

        user-select: none;
        padding: 20px 0;

        .read-more-section{
            max-width: fit-content;
            margin: 0 !important;
            text-align: center;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 375px !important;  
        }
        .title{
            font-size: 28px !important;
            margin-bottom: 20px;
            margin-top: 60px;
        }
        .quote{
            font-size: 18px !important;
        }
        .quote-name, .desc{
            font-size: 16px !important;
        }
        .btn {
            margin-left: 0;
        }

        .photo-section{

            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 !important;
            margin-bottom: 20px !important;
            width: 90% !important;
            height: 289px !important;

            img{
                width: 100% !important;
                height: 100% !important;
            }
        }

        .btn{
            display: none !important;
        }
    }

    .my-services{
        min-height: 606px !important;
    }

    .reviews{
        padding-left: 0px !important;
        padding-right: 0px !important;

        .title{
            margin-left: 29% !important;
        }

        .review-list{
            padding-left: 0px !important;
            margin-bottom: 30px;
        }
    }
}